name: flutter_iot_second__app
description: "A new Flutter project."

publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  #ตั้ง Package ที่น่าจะต้องใช้ประจำในทุกโปรเจ็กด์
  google_fonts: ^7.0.2
  font_awesome_flutter: ^10.12.0
  video_player:  ^2.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true
  #ตั้งค่าตำแหน่งรูปภาพ

  assets:
    - assets/images/

  
  

  